.container{
  margin-top: 10vh;
  width: 90%;
  background: beige;
  display:flex;
  border: 1px solid grey;
  overflow-x: auto;
  gap: 1rem;
}


.group{
  /* background-color: red; */
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  animation: slide 15s linear infinite;
}

.item{
    flex-shrink: 0;
    width: 20vw;
    height: 70%;
    padding: 1vh;
    /* background-color: blue; */
}

.item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

::-webkit-scrollbar{
    display: none;
}

@keyframes slide {
    from{
    translate: 0;
    }
    to{
        translate: -100%;
    }
}
